html,
body {
  font-family: 'Bangers', cursive;
  font-size: 1em;
  width: 100%;
  height: 100%;
}

body {
  background: url(http://i.imgur.com/asLW3N6.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  }


.navbar-nav  a:hover {
      color: #ce2323 !important;
  }

.navbar {
  /*background-color: #000000;*/
  font-size: 1em;
  }

#title {
  font-size: 1.5em;
  }


.margin {margin-bottom: 45px;}

a {
  color: red;
}

#content{
	padding-top: 20%;
	text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.9),
               0px 8px 13px rgba(0,0,0,0.9),
               0px 18px 23px rgba(0,0,0,0.9);
  color: lightgrey;
  font-size: .55em;
}

hr {
    width: 80%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.jumbotron {
  background-color: grey;
  opacity: .9;
}

#character {
  width: 50%;
  align-self: center;
}

#about {
  text-align: center;
}

#about-list {
  margin-left: 25%;
  width: 50%;
}

#event-pic {
  width: 40%
}

#delete {
  color: white;
  background-color: black;
  font-size: 1em;
}

#check {
  color: lime;
}
