{% extends "base.html" %}
{% block content %}



<div class="jumbotron jumbotron-fluid" id='about'>
  <div class="container-fluid">
    <h1 class="display-3"> NSBE Retention</h1>
    <p class="lead">This is a retention program for NSBE San Diego State University designed to:</p>
    <ul class="list-group" id='about-list'>
      <li class= "list-group-item list-group-item-dark">Track member engagment in a creative and fun way</li>
      <li class= "list-group-item list-group-item-dark">Keep members up to date with upcoming chapter events</li>
      <li class= "list-group-item list-group-item-dark">Manage the points/rewards system for member participation</li>
    </ul>
    <br>
        <a class="btn btn-dark" target="_blank" href="https://www.nsbe.org/Programs/NSBE-Programs/Retention-Program.aspx#.WWQJLmgrLic">NSBE National Retention Program</a>
        <h3>Copyright Marvel All Rights Reserved </h3>
  </div>
</div>

{% endblock content %}
