{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">

  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1 class="display-3">Event List</h1>
    <p class="lead">Welcome back {{session.alias}} you currently have {{current_user.points}} points.</p>

    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date</th>
          <th>Points</th>
          <th>Checked-in</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <th scope="row" id="event">{{event.id}}</th>
          <td><a href="{{url_for('eventDetail', event_id=event.id)}}">{{event.name}}</a></td>
          <td>{{event.date.strftime('%x')}}</td>
          <td id="points">{{event.points}}</td>
          {% if event.id in current_user.attended %}
          <td><h5><span class="badge badge-secondary"><i id="check" class="fa fa-check" aria-hidden="true"></i></span></h5></td>
          {% else %}
          <td><h5><span class="badge badge-secondary"><i id="x" class="fa fa-times" aria-hidden="true"></i></span><h5></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class= "btn btn-light" href="{{url_for('createEvent')}}">Create Event</a>

  </div>

</div>

{% endblock %}
