{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">

  <div class="container">
    <h1 class="display-3">Event List</h1>
    <p class="lead">Welcome back user.name you currently have user.points points.</p>

    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <th scope="row">{{event.id}}</th>
          <td>{{event.name}}</td>
          <td>{{event.date}}</td>
          <td>{{event.points}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class= "btn btn-light" href="{{url_for('createEvent')}}">Create Event</a>

  </div>

</div>

{% endblock %}
