{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" id="about">
    <div class="row">
      <div class="col-sm-4">
        {% if event.id in current_user.attended %}
        <h2><span class="badge badge-secondary"><i id="check" class="fa fa-check" aria-hidden="true"></i></span></h2>
        {% else %}
        <button type="button" class="btn btn-primary" data-bind="click: checkIn" name="button">Check-in</button>
        {% endif %}
      </div>
    </div>
  <h1 class="display-3">{{event.name}}</h1>
  <h5 id="event">{{event.id}}</h5>
  <h3>Date: {{event.date}}</h3>
  {% if event.picture %}
  <p>
  <img src="{{ url_for('uploaded_picture', filename = event.picture) }}" alt="Event Image" id="event-pic" class="img-fluid">
  </p>
  {% else %}
  <p>No Image Uploaded</p>
  {% endif %}
  <h4 id="loc">{{event.address}}</h4>
  <h4 id="start">From:{{event.start}}</h4>
  <h4 id="end">Till:{{event.end}}</h4>
  <h5><strong>Points:</strong></h5>
  <h5 id="points">{{event.points}}</h5>
  <div class="row justify-content-center" >
    <div class="col-md-6">
      <p>Info: {{event.details}}</p>
    </div>
  </div>

  <p>URL: <a href="{{event.url}}">{{event.url}}</a></p>

  </div>
  <div class="row" id="about">
    <div class="col-md-4">
      <a class = "btn btn-light" href="{{url_for('showEvents')}}">Back To Events</a>
    </div>
    <div class="col-md-4">
      <a class = "btn btn-danger"  align = "center" href="{{url_for('deleteEvent', event_id=event.id) }}">Delete</a>
    </div>
    <div class="col-md-4">
      <a class = "btn btn-warning"  align = "right" href="{{url_for('editEvent', event_id=event.id) }}">Edit</a>
    </div>
  </div>
</div>


{% endblock %}
