{% extends "base.html" %}
{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      <ul>
      {% for category, message in messages %}
      <div class="{{category}}">
        <strong> {{ message }} </strong>
      </div>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
 <div class="row justify-content-center">
   <div class="col-lg-8">
     <div class="content" id="content">
       <h2>Welcome to NSBE Universe: a retention program for NSBE San Diego State University Chapter</h2>
       <blockquote class="blockquote">
         <p class="mb-0">"We are part of this universe; we are in this universe, but perhaps more important than both of those facts, is that the universe is in us."</p>
         <footer class="blockquote-footer">Neil deGrasse Tyson</footer>
       </blockquote>
     </div>
   </div>
 </div>
</div>


{% endblock %}
