{% extends "base.html" %}
{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      <ul>
      {% for category, message in messages %}
      <div class="{{category}}">
        <strong> {{ message }} </strong>
      </div>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
 <div class="row">
   <div class="col-lg-12">
     <div class="content" id="content">
       <h1>Welcome to NSBE Universe: the retention program for NSBE San Diego State University Chapter</h1>
       <h3>"We are part of this universe; we are in this universe, but perhaps more important than both of those facts, is that the universe is in us." - Neil deGrasse Tyson</h3>
       <hr>
     </div>
   </div>
 </div>
</div>


{% endblock %}
