{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" id="about">
    <h1 class="display-3">Join NSBE Universe!</h1>
    <form method='POST'>
      {{ csrf_token }}
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <input type="text" name="name" class="form-control" placeholder="Name" required>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <select class="form-control" name="year" id="exampleFormControlSelect1" placeholder="Year">
            <option>1st Year</option>
            <option>2nd Year</option>
            <option>3rd Year</option>
            <option>4th Year</option>
            <option>4th Year+</option>
            <option>Graduate/Professional</option>
          </select>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <input type="text" name="major" class="form-control" placeholder="Major" required>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <input type="password" name="password" data-bind="textInput: pass1" class="form-control" placeholder="Password" required>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <input type="password" name="confirm" data-bind="textInput: pass2, event:{mouseout: checkPass}" class="form-control" placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" name="alias" data-bind="textInput: userInput" class="form-control" placeholder="Enter a Marvel Character" required>
            <span class="input-group-btn">
            <button type="button" data-bind="click: getInfo" class="btn btn-primary" name="search">Search</button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <h4><a class="badge badge-dark" target="_blank" href="https://marvel.com">Data provided by Marvel. © 2014 Marvel</a></h4>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <img class="card-img-top img-fluid" id="character" data-bind="attr: { src: characterImage }">
            <div class="card-body">
              <h4 class="card-title"  data-bind="html: characterName">Name</h4>
              <p class="card-text"  data-bind="html: characterDesc">Description</p>
            </div>
          </div>
          <div class="invisible">
            <input type="text" readonly name="pic" data-bind="value: characterImage" class="form-control-plaintext">
            <input type="text" readonly name="character" data-bind="value: characterName" class="form-control-plaintext">
            <input type="text" readonly name="bio" data-bind="value: characterDesc" class="form-control-plaintext">
          </div>
        </div>
      </div>
      <br>
      <input type="submit" data-bind="enable: toggleSubmit" class="btn btn-light" value="submit">
    </form>
  </div>
</div>

{% endblock %}
