{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="jumbotron" align='center'>
  <h1> NSBE Retention</h1>
  <p>This is a retention program for NSBE San Diego State University designed to:</p>
  <h3><ul style="list-style-type: none">
    <li>Track member engagment in a creative and fun way</li>
    <li>Keep members up to date with upcoming chapter events</li>
    <li>Manage the points/rewards system for member participation</li>
  </ul></h3>
  <h4><a href="https://www.nsbe.org/Programs/NSBE-Programs/Retention-Program.aspx#.WWQJLmgrLic">Link to NSBE National Retention Program</a></h4>
  <h3>Copyright Marvel All Rights Reserved </h3>
</div>
</div>

{% endblock content %}
