{% extends 'points/points_base.html' %}
{% block preevent %}

	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome Back
			<a href="#">@{{user.username}}</a><br>
		</h2>
    <h3>
      You have {{user.last_name}} points
      <br>
      Here's a list of upcoming events:
    </h3>
  </div>

{% endif %}
{% endblock preevent %}

{%  block event_content %}

<style>

  #new_event {
    font-family: 'Bangers', cursive;
    font-size: 24px;
  }

  table {
    width: 100%;
  }

  #events td{
    width: auto;
  }

  #events td, #events th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
  }

  /*#events tr:nth-child(even){background-color: #f2f2f2;}*/

  #events tr:hover {background-color: #ddd;}

  #events th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: grey;
  color: black;

  }

  #data {
  font-size: 20px;
  background-color: #black;
  color: white;
  }

  #jumbo {
    background: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/5933317/deadpool-gallery-06-gallery-image.0.jpg) no-repeat center fixed;
    background-size: contain;
  }


</style>
<body>
<div class="jumbotron" id='jumbo'>


<table class='table table-bordered' align='center' id="events">

  <tr>
    <th><h2>Event Name</h2></th>
    <th><h2>Event Date</h2></th>
    <th><h2>Points</h2></th>
  </tr>
      {% for event in events %}
      <tr>
        <td><h2><a class='list group item' href="{{event.id}}">{{ event.name }}</a></h2></td>
        <td><span class="label label-primary" id='data'>{{event.date}}</span></td>
        <td><span class="label label-primary" id='data'>{{event.points}}</span>points{{ event.points.count|pluralize }}</td>
        {% if user.is_staff %}
        <td>{% include "points/_points.html" %}</td>
        {% else %}
        {% endif %}
      </tr>

      {% endfor %}

 </table>
 </div>
 </body>

  {% endblock %}

  {% block postevent %}
  <body>


      <div class="container">
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'points:create' %}" class='btn btn-md btn-fill btn-warning'>
        <span id='new_event'> Create New Event!</span>
        </a>
        {% else %}

        {% endif %}
      </div>
  </body>
  {% endblock %}
